* {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif, 'Segoe UI';
    line-height: 2rem;
    font-weight: 600;

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.my-btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}


/* NavBar */
nav {
    background-color: transparent;
    backdrop-filter: blur(5px);
    height: 75px;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

.navbar-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
}

#logo-text {
    font-size: 1.5em;
}

#navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#navbar-menu ul {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 1.5em;
}

#book-call-btn-li {
    border: solid 1.5px blueviolet;
    border-radius: 4rem;
    margin-left: 1.2em;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(4, 1, 19);
    box-shadow: 0 3px 5px rgba(100, 0, 0, 0.6);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    cursor: pointer;
}


#book-call-btn-li:hover {
    background-color: black;
    border: solid 1.5px rgb(102, 37, 163);
}

#book-call-btn {
    transition: color 0.3s ease-in-out;
    color: whitesmoke;
}

#book-call-btn:hover {
    color: rgb(201, 219, 232);
}


.nav-item-a:not(:hover) {
    color: rgb(147, 155, 161);
    transition: color 0.6s ease-in-out;
}

.nav-item-a:hover {
    transition: color 0.2s ease-in-out;
    color: aliceblue;
}


section {
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Hero Section */
#hero-container {
    background-color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    margin: 0;
    margin-top: 74px;
    padding: 0;
    overflow: hidden;
}

.intro-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2em;
    padding-top: 6em;
}

.intro-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.intro-btn {
    border: 1px solid rgb(187, 195, 202);
    border-radius: 1.5rem;
    color: aliceblue;
    background-color: rgb(19, 4, 34);
    margin-top: 1em;
}

.intro-btn:hover {
    color: rgb(202, 210, 218);
    background-color: rgb(13, 2, 24);
    border: 1px solid rgb(90, 91, 92);

}

.intro-statement {
    padding-top: 5em;
}

.intro-animation {
    width: 100%;
    height: 35em;
    position: relative;
    bottom: 0;
    right: 0px;

}

#background-video {
    position: absolute;
    margin-top: 10%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    transition: all 0.5s;
    border-radius: 0;

}

#background-video.enlarged {
    transform: scale(1.5);
    border-radius: 10px;
}


/* Partners Section */
.partners-section {
    display: flex;
}

.partners-title {
    margin: 0em 2em;
    width: 25%;
}

.partners-container {
    overflow: hidden;
    height: 6em;
    display: flex;
    align-items: center;
}

.partners-marquee {
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    display: inline-block;
    padding-left: 10%;
}

.partner-container {
    display: inline-block;
    width: 150px;
    margin: 0 3em;
}

.partner-container img {
    height: 60px;
}

.ai-container {
    width: 100%;
    height: fit-content;
    min-height: 30em;
    background: no-repeat center center;
    background-size: cover;
    background-image: radial-gradient(circle, #320c47, #66106d, #3c0a40, #060106);
    backdrop-filter: blur(10px);
    animation: pulsate 15s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 5em;
}

.ai-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

.ai-card {
    height: fit-content;
    min-height: 10em;
    width: 12em;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.7em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.ai-card-pic {
    height: 40%;
    min-height: 4.5em;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-card-title {
    height: fit-content;
    margin: 0.2em;
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.ai-card-text {
    height: fit-content;
    margin: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    color: rgb(147, 155, 161);
    ;
}

.ai-title {
    height: fit-content;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    padding: 0;
}

.ai-icon {
    font-size: 3em;
    color: rgb(5, 5, 43);
}

.ai-text {
    height: fit-content;
    font-size: 0.9em;
    text-align: center;
    padding-top: 0;

    p {
        color: rgb(79, 82, 84);
    }
}

.ai-text p {
    color: rgb(159, 170, 177);
}

.ai-btn {
    width: 100%;
    height: 15%;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ai-btn a {
    background-color: rgb(15, 1, 30);
    padding: 0.4em;
    font-size: 1em;
    border-radius: 0.3em;
    transition: box-shadow 0.4s ease;
}

.ai-btn a:hover {
    box-shadow: 0 1.3px 1.8px blueviolet;
}

/* Services Section */
.services-title {
    background-color: black;
    margin: 0;
    padding: 2em;
    padding-top: 5em;
    text-align: center;
}

.services-container {
    min-height: 28em;
    background-color: black;
    height: fit-content;
    display: flex;
}


.services-text {
    width: 50%;
    padding: 1em;
}

.services-text-paragraphs {
    overflow: scroll;
    max-height: 20em;
}

.services-text-paragraphs {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    max-height: 20em;
}

.services-text-paragraphs::-webkit-scrollbar {
    width: 0;
}

.services-text-paragraphs::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.service-cards {
    width: 50%;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    width: calc(50% - 2em);
    height: calc(width + 1em);
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 6px 7px rgba(0, 0, 50, 0.9);
    cursor: pointer;
}

.service-card-pic {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.02em;
}


.service-card-pic span {
    font-weight: bolder;
    line-height: 1.2;
    display: flex;
    text-align: center;
    color: #e9edf7;
}

.service-card-text {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon {
    color: rgb(206, 206, 230);
    font-size: 2.2em;
    padding-bottom: 0.2em;
}

.service-card-btn {
    border: 0.5px solid rgb(187, 195, 202);
    background-color: #32223466;
    border-radius: 0.4em;
    color: white;
}

.service-card-btn:hover {
    border: 0.5px solid rgb(111, 113, 115);
    background-color: #2b092c66;
    color: aliceblue;
}


#services-text-title,
#services-text-paragraph {
    transition: opacity 0.4s ease-in-out;
}

.animate {
    animation: slideInLeft 0.6s ease-in-out forwards;
}

#services-text-paragraph {
    border-radius: 2em;
    padding-left: 0.9em;
}

.services-text-outter {
    border-top: outset 1.5px blue;
    border-radius: 2em;
}

.metrics-container {
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 5em;
    padding-bottom: 10em;
}

.metric-card {
    background-color: rgba(200, 200, 255, 0.1);
    margin: 1em;
    margin-top: 7em;
    margin-bottom: 3em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-height: 9em;
    height: fit-content;
    width: 8.5em;
    box-shadow: 0 3px 5px blueviolet;
    animation: glow 3s infinite alternate
}

.metric-card-icon {
    height: 50%;
}

.metrics-icon {
    font-size: 1.5em;
    margin: 0.4em;
}

.metric-card-title {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.metric-card-text {
    font-size: 0.8em;
    padding: 0.2em;
    color: rgb(147, 155, 161);
}

#metrics-title {
    text-align: center;
    color: rgb(52, 52, 242);
    animation: spinOut 15s ease-in-out 1s infinite forwards;
}

footer {
    padding-top: 1em;
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(2, 2, 10, 0.99);
}

.final-text {
    text-align: center;
    padding: 3em;
}

.final-text h1{
    margin-bottom: 1em;
}

.final-text div span{
    display: block;
    color: #8e828e;
}

.contact-form {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
}

.form-group {
    width: fit-content;
    margin: 1em;
    text-align: left;
    flex: 1;
    box-sizing: border-box;
}

label {
    color: #565459;
}

.form-group input {
    margin-top: 0.4em;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #747179;
    padding: 0.4em 1em;
    width: 15em;
}

.form-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.more-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.more-info label {
    width: 100%;
    display: flex;
    align-items: left;
}

#more_info-text {
    max-width: 40em;
    height: 10em;
    border-radius: 10px;
    background-color: transparent;
    padding: 1em;
}

.submit-container {
    width: 100%;
    text-align: right;
    padding-right: 6em;
}

.submit-container button {
    border: solid 1px rgb(251, 250, 251);
    border-radius: 5px;
    background-color: rgb(36, 15, 55);
}

.submit-container button:hover {
    background-color: #230634;
    color: #85828b;
}


.final-text p {
    color: #85828b;
}


.copyright {
    margin-top: 3em;
    text-align: center;
    padding: 1.5em;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-links-container {
    margin-bottom: 2em;
    width: fit-content;
    text-align: right;
}

.social-links-container a {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@keyframes spinOut {
    0% {
        transform: translateY(-100%);
    }

    5% {
        transform: translateY(0);
        transform: rotateZ(720deg);
    }

    15% {
        transform: scale(1.2);
        transform: rotateZ(0);
    }

    20% {
        transform: translateY(-10%);
    }

    21% {
        transform: translateY(0%);
    }

    22% {
        transform: translateY(-10%);
    }

    23% {
        transform: translateY(0%);
    }

    24% {
        transform: translateY(-10%);
    }

    25% {
        transform: translateY(0%);
    }

    26% {
        transform: translateY(-10%);
    }

    27% {
        transform: translateY(0%);
    }

    28% {
        transform: translateY(-10%);
    }

    31% {
        transform: translateY(0%);
    }

    40% {
        transform: scale(0.2);
    }

    50% {
        transform: scale(1);
        transform: translateY(0%);
    }


    95% {
        transform: scale(1);
        transform: translateY(0%);
    }

    100% {
        box-shadow: 0 3px 5px blueviolet;
        transform: translateY(-100%);
    }
}


@keyframes glow {
    0% {
        box-shadow: 0 1px 2px blueviolet
    }

    25% {
        box-shadow: 0 2px 3px blueviolet
    }

    50% {
        box-shadow: 0 3px 4px blueviolet
    }

    75% {
        box-shadow: 0 3px 5px blueviolet
    }

    100% {
        box-shadow: 0 3px 5px blueviolet
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(5%);
        opacity: 1;
    }
}


@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {

    /* Nav bar */
    #navbar-menu ul li span {
        display: none;
    }


    #navbar-menu ul {
        display: block;
        margin-left: 0.5em;
    }

    #book-call-btn {
        margin-left: 0;
        margin-top: 1em;
    }

    #book-call-btn-li {
        margin-top: 1em;
    }

    #navbar-menu {
        height: 0;
        overflow: hidden;
        position: absolute;
        background-color: black;
        width: 100%;
        top: 75px;
        left: 0;
        transition: height 0.6s ease-in-out;
        border-bottom: inset 1px #060215;
    }

    #navbar-menu.active {
        height: 180px;
    }

    .navbar-menu.active {
        display: flex;
    }

    #navbar-toggler {
        display: block;
        padding-right: 1.5em;
        animation: padding 0.3s ease-in-out;
    }

    .intro-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1em;
    }

    .intro-text div {
        padding: 0.5em;
    }

    .intro-text div h1 {
        padding-right: 1em;
        padding-left: 0.5em;
    }

    .intro-animation {
        height: 22em;
    }

    #hero-container {
        display: block;
        width: 100vw;
    }

    #background-video {
        width: 100vw;
        height: 100%;
        margin-top: 0;
    }

    .service-card-text a {
        margin: 0.7em;
    }

    .metrics-container {
        height: fit-content;
        flex-wrap: wrap;
        padding: 1em;
        padding-top: 5em;
    }

    .metric-card {
        margin: 2em;
        width: 15em;
    }
}


/* Small Screens */
@media (max-width: 512px) {
    .intro-animation {
        height: 15em;
    }

    .intro-btn {
        font-size: 8PX;
        border-radius: 6px;
    }

    .partners-section {
        display: block;
    }

    .partners-title {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0;
    }

    .partners-marquee {
        animation: marquee 10s linear infinite;
    }
    
    .partner-container {
        margin: 0 1.5em;
    }
    
    .partner-container img {
        height: 40px;
    }

    .ai-cards {
        flex-direction: column;
    }

    .service-cards {
        height: 25em;
        overflow: scroll;
    }

    .services-container {
        height: 30em;
    }

    .service-card {
        width: 80%;
        height: 10em;
        margin: 1em;
    }

    .metric-card {
        margin: 1em;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 22em;
    }

    .form-group {
        margin: 0.5em;
        width: 100%;
        text-align: center;
    }

    .form-end {
        width: 20em;
    }

}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 0.8rem;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

#back-to-top-button:hover {
    background-color: #f200ff;
}

/* font awesome overides */
.my-spin {
    -webkit-animation: fa-spin 10s infinite linear;
    animation: fa-spin 10s infinite linear;
}

.my-fade {
    -webkit-animation: fa-fade 10s infinite linear;
    animation: fa-fade 10s infinite linear;
}

.my-shake {
    -webkit-animation: fa-shake 6s infinite linear;
    animation: fa-shake 6s infinite linear;
}